<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/notice_common.css">
        <title>学生历史课程</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-grey-bd">
            <div class="notice-banner"></div>
            <div class="notice-card">
                <div class="manager-avatar">
                    <img src="../static/images/teacher.jpg" alt="陈老师">
                </div>
                <div class="manager-name">
                    课管：陈老师
                </div>
                <div class="manager-says">
                    <span class="shangyinhao">“</span><p class="says-words">帮助孩子愉快地练琴 家长放心 我就开心</p><span class="xiayinhao">“</span>
                </div>
                <div class="notice-footer">
                    <div class="notice-qr">
                        <p class="qr-title">如有疑问，请咨询您的专属课管老师</p>
                        <p>咨询电话：400－029－2609</p>
                        <p>咨询时间：10：00 - 21：00</p>
                    </div>
                    <div class="notice-qr-shadow"></div>
                </div>
            </div>
        </div>
    </body>
</html>