<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>熊猫钢琴陪练618狂欢</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-bd">
            <div class="g-sec m-done">
                <a class="f-rules" href="#rule">
                    活动规则>>
                </a>
                <div class="done-intro">
                    “邀请好友得千元现金“活动已结束，你可以通过公众号底部菜单618活动-邀请记录查看邀请所得。
                </div>
            </div>
            <div class="g-sec m-list background-done">
                <div class="list-con">
                    <h2 class="list-title">
                        考级突击套餐（50分钟/次）
                    </h2>
                    <p class="list-info">
                        适用于考级、比赛前的针对性突击陪练
                    </p>
                    <div class="list-main">
                        <div class="main-pic">
                            <img src="../static/images/618cls1.jpg">
                        </div>
                        <div class="main-pac">
                            <h3 class="pac-name">
                                24次套餐包
                            </h3>
                            <div class="pac-price">
                                现价<span>￥2880</span>
                            </div>
                        </div>
                        <a class="main-btn" href="#buy">立即购买</a>
                    </div>
                </div>
                <p class="g-info">*考级陪练课程2个月内用完</p>
                <div class="list-con">
                    <h2 class="list-title">
                        日常陪练套餐（25分钟/次）
                    </h2>
                    <p class="list-info">
                        适用于考级、比赛前的针对性突击陪练
                    </p>
                    <div class="list-main">
                        <div class="main-pic">
                            <img src="../static/images/618cls3.jpg">
                        </div>
                        <div class="main-pac">
                            <h3 class="pac-name">
                                90次套餐包
                            </h3>
                            <div class="pac-price">
                                现价<span>￥3799</span>
                            </div>
                        </div>
                        <a class="main-btn" href="#buy">立即购买</a>
                    </div>
                </div>

                <div class="list-con">
                    <h2 class="list-title">
                        日常陪练套餐（45分钟/次）
                    </h2>
                    <p class="list-info">
                        适用于考级、比赛前的针对性突击陪练
                    </p>
                    <div class="list-main">
                        <div class="main-pic">
                            <img src="../static/images/618cls5.jpg">
                        </div>
                        <div class="main-pac">
                            <h3 class="pac-name">
                                80次套餐包
                            </h3>
                            <div class="pac-price">
                                现价<span>￥5688</span> 
                            </div>
                        </div>
                        <a class="main-btn" href="#buy">立即购买</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>