<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>陪练课程</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-bd">
            <div class="g-sec m-buya">
            </div>
            <div class="g-sec m-list background-buy">
                <div class="list-con">
                    <h2 class="list-title">
                        考级突击套餐（50分钟/次）
                    </h2>
                    <p class="list-info">
                        适用于考级、比赛前的针对性突击陪练
                    </p>
                    <div class="list-main">
                        <div class="main-pic discount">
                            <img src="../static/images/618cls1.jpg">
                        </div>
                        <div class="main-pac">
                            <h3 class="pac-name">
                                16次套餐包
                            </h3>
                            <div class="pac-price">
                                618抢购价<span>￥799</span>
                            </div>
                            <div class="pac-old">
                                原价 <span>¥1599</span>
                            </div>
                        </div>
                        <a class="main-btn" href="#buy">立即购买</a>
                    </div>
                </div>
                <p class="g-info">*考级陪练课程2个月内用完</p>
                <div class="list-con">
                    <h2 class="list-title">
                        日常陪练套餐（25分钟/次）
                    </h2>
                    <p class="list-info">
                        适用于考级、比赛前的针对性突击陪练
                    </p>
                    <div class="list-main">
                        <div class="main-pic">
                            <img src="../static/images/618cls2.jpg">
                        </div>
                        <div class="main-pac">
                            <h3 class="pac-name">
                                25次套餐包
                            </h3>
                            <div class="pac-pre">
                                现价 <span>¥1299</span>
                            </div>
                        </div>
                        <a class="main-btn" href="#buy">立即购买</a>
                    </div>
                    <div class="list-main">
                        <div class="main-pic discount">
                            <img src="../static/images/618cls3.jpg">
                        </div>
                        <div class="main-pac">
                            <h3 class="pac-name">
                                90次套餐包
                            </h3>
                            <div class="pac-price">
                                618抢购价<span>￥1899</span>
                            </div>
                            <div class="pac-old">
                                原价 <span>¥3799</span>
                            </div>
                        </div>
                        <a class="main-btn" href="#buy">立即购买</a>
                    </div>
                </div>

                <div class="list-con">
                    <h2 class="list-title">
                        日常陪练套餐（45分钟/次）
                    </h2>
                    <p class="list-info">
                        适用于考级、比赛前的针对性突击陪练
                    </p>
                    <div class="list-main">
                        <div class="main-pic">
                            <img src="../static/images/618cls4.jpg">
                        </div>
                        <div class="main-pac">
                            <h3 class="pac-name">
                                25次套餐包
                            </h3>
                            <div class="pac-pre">
                                现价 <span>¥2029</span>
                            </div>
                        </div>
                        <a class="main-btn" href="#buy">立即购买</a>
                    </div>
                    <div class="list-main">
                        <div class="main-pic discount">
                            <img src="../static/images/618cls5.jpg">
                        </div>
                        <div class="main-pac">
                            <h3 class="pac-name">
                                80次套餐包
                            </h3>
                            <div class="pac-price">
                                618抢购价<span>￥2720</span>
                            </div>
                            <div class="pac-old">
                                原价 <span>¥5440</span>
                            </div>
                        </div>
                        <a class="main-btn" href="#buy">立即购买</a>
                    </div>
                </div>

                <div class="list-con">
                    <h2 class="list-title">
                        618更多活动
                    </h2>
                    <div class="list-ad">
                        <a href="#ad1" class="ad">
                            <img src="../static/images/618ad1.jpg">
                        </a>
                        <a href="#ad2" class="ad">
                            <img src="../static/images/618ad2.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>