<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>熊猫钢琴陪练618狂欢</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-bd">
            <div class="g-sec m-qrhd"></div>
            <div class="g-sec m-qrbd background-qr">
                <div class="qr-con">
                    <img src="../static/images/123.jpg" alt="">
                </div>
                <p class="qr-intro">
                    温馨提示：仅限邀请新用户，即未关注“熊猫钢琴陪练”微信公众号的好友，其成功购课后，您将获得1000元奖励（含税）。
                </p>
            </div>
        </div>
    </body>
</html>