<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>邀请记录</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-bd">
            <div class="g-sec m-invite"></div>
            <div class="g-sec m-table background-table">
                <div class="f-number f-number-left">
                    <div class="number-main">
                        活动期间已邀请<span>30</span>名好友
                    </div>
                    <div class="number-main">
                        其中<span>20</span>人购课，奖金¥<span>2000</span>
                    </div>
                </div>
                <div class="table-main">
                    <table class="invite-table">
                        <thead>
                            <tr>
                                <th>好友</th>
                                <th>好友状态</th>
                                <th>你的奖金</th>
                            </tr>
                        </thead>        
                        <tbody>
                            <tr>
                                <td>*允超</td>
                                <td>未注册</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>*兆鹏</td>
                                <td>已注册</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>*俸铭</td>
                                <td>已购课</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>*良知</td>
                                <td>未注册</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>*雁</td>
                                <td>已注册</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>*嘉琪</td>
                                <td>未注册</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>*一朝</td>
                                <td>已注册</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>*万里</td>
                                <td>已注册</td>
                                <td>1000</td>
                            </tr>
                        </tbody>    
                    </table>
                    <p class="table-intro">
                        发放规则：新用户成功购课后，符合陪练课程要求且60天内无退费。奖励金将在60天后发放给您。根据国家规定，缴纳相关税费。活动最终解释权归熊猫钢琴陪练所有。
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>