<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>保存二维码图片</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-bd">
            <div class="g-sec m-qrhd"></div>
            <div class="g-sec m-qrbd background-qr">
                <div class="qr-con">
                    <img src="../static/images/123.jpg" alt="">
                </div>
                <p class="qr-intro">
                    卡萨布兰卡：按大康静安寺看到那可就是你大康将按时刻记得那句卡是你大康将阿森纳大康接纳是肯德基那时刻记得那时
                </p>
            </div>
        </div>
    </body>
</html>