<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>邀请记录</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-bd">
            <div class="g-sec m-invite"></div>
            <div class="g-sec m-table background-table">
                <div class="f-number f-number-left">
                    <div class="number-main">
                        活动期间已邀请<span>30</span>名好友
                    </div>
                    <div class="number-main">
                        其中<span>20</span>人购课，奖金¥<span>2000</span>
                    </div>
                </div>
                <div class="table-main">
                    <table class="invite-table">
                        <thead>
                            <tr>
                                <th>好友</th>
                                <th>好友状态</th>
                                <th>你的奖金</th>
                            </tr>
                        </thead>        
                        <tbody>
                            <tr>
                                <td>好友</td>
                                <td>好友状态</td>
                                <td>你的奖金</td>
                            </tr>
                            <tr>
                                <td>好友</td>
                                <td>好友状态</td>
                                <td>你的奖金</td>
                            </tr>
                            <tr>
                                <td>好友</td>
                                <td>好友状态</td>
                                <td>你的奖金</td>
                            </tr>
                            <tr>
                                <td>好友</td>
                                <td>好友状态</td>
                                <td>你的奖金</td>
                            </tr>
                        </tbody>    
                    </table>
                    <div class="pagination">
                        <a href="#prev" class="page">上一页</a>
                        <div class="page-num">
                            <a href="#1">2</a>
                        </div>
                        <a href="#next" class="page disable-page">下一页</a>
                    </div>
                    <div class="table-intro">
                        <p>发放规则：新用户成功购课后，符合陪练课程要求且60天内无退费，奖励金将在60天后发放（根据国家规定需缴纳相关税费）。</p>
                        <p>活动最终解释权归熊猫钢琴陪练所有。</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>