<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/notice_page_common.css">
        <title>预约课程</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-notice-bd">
            <div class="g-hd">
                <span class="view-icon icon-ok"></span>
                <h1 class="notice-title">
                    预约成功
                </h1>
                <p class="u-normal-intro">
                    课管老师会尽快与您联络，点击【返回】在【我的课程】里查看预约详情。
                </p>
                <p class="u-normal-intro">
                    或添加课管老师官方微信号“zaixianpeilian”进行咨询。
                </p>
            </div>
            <div class="g-qr-con">
                <img src="../static/images/qr.jpg" class="qr">
                <p class="u-ft-intro">
                    扫码添加您的专属课管老师
                </p>
            </div>
            <div class="g-ft">
                <div class="u-ft-intro">
                    客服电话
                </div>
                <div class="u-ft-intro">
                    010-59453732
                </div>
            </div>
        </div>
    </body>
</html>