<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css?v=2">
        <title>熊猫钢琴陪练-考级陪练专家</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-bd">
            <div class="g-sec m-propag1"></div>
            <div class="g-sec m-propag2">
                <img src="../static/images/peilian2.jpg" class="bg-img">
                <div class="propag-line">
                    <div class="propag-con p-left">
                        <div class="p-hd">
                            院校名师
                        </div>
                        <div class="p-intro">
                            <p>全国知名音乐院校</p>
                            <p>老师一对一辅导</p>
                        </div>
                    </div>
                    <div class="propag-con p-right">
                        <div class="p-hd">
                            考级必备
                        </div>
                        <div class="p-intro">
                            <p>科学制定学习步骤</p>
                            <p>合理规划时间</p>
                        </div>
                    </div>
                </div>
                <div class="propag-line">
                    <div class="propag-con p-left">
                        <div class="p-hd">
                            流畅视频
                        </div>
                        <div class="p-intro">
                            <p>师生面对面沟通</p>
                            <p>及时纠错和提醒</p>
                        </div>
                    </div>
                    <div class="propag-con p-right">
                        <div class="p-hd">
                            随时预约
                        </div>
                        <div class="p-intro">
                            <p>24小时智能约课</p>
                            <p>练琴无忧</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>