<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Photo Select</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/photo_select.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_bp0j6z07pagiudi.css">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
    <script src="../static/js/jQuery.min.js"></script>
</head>
<body>
    <script>
        document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
    </script>
    <div class="g-photo-select">
        <div class="img-con">
            <div class="img-group">
                <div class="img-group-time">
                    2017-07-12 星期三 8:00～8:25
                </div>
                <div class="img-item">
                    <img src="../static/images/teacher2.jpg">
                    <div class="f-select-con">
                        <i class="f-select iconfont icon-test"></i>
                    </div>
                </div>
                <div class="img-item">
                    <img src="../static/images/teacher2.jpg">
                    <div class="f-select-con">
                        <i class="f-select iconfont icon-test"></i>
                    </div>
                </div>
                <div class="img-item">
                    <img src="../static/images/teacher2.jpg">
                    <div class="f-select-con">
                        <i class="f-select iconfont icon-test"></i>
                    </div>
                </div>
                <div class="img-item">
                    <img src="../static/images/teacher2.jpg">
                    <div class="f-select-con">
                        <i class="f-select iconfont icon-test"></i>
                    </div>
                </div>
            </div>
            <div class="img-group">
                <div class="img-group-time">
                    2017-07-12 星期三 8:00～8:25
                </div>
                <div class="img-item">
                    <img src="../static/images/teacher2.jpg">
                    <div class="f-select-con">
                        <i class="f-select iconfont icon-test"></i>
                    </div>
                </div>
                <div class="img-item">
                    <img src="../static/images/teacher2.jpg">
                    <div class="f-select-con">
                        <i class="f-select iconfont icon-test"></i>
                    </div>
                </div>
            </div>
            <div class="img-group">
                <div class="img-group-time">
                    2017-07-12 星期三 8:00～8:25
                </div>
                <div class="img-item">
                    <img src="../static/images/teacher2.jpg">
                    <div class="f-select-con">
                        <i class="f-select iconfont icon-test"></i>
                    </div>
                </div>
                <div class="img-item">
                    <img src="../static/images/teacher2.jpg">
                    <div class="f-select-con">
                        <i class="f-select iconfont icon-test"></i>
                    </div>
                </div>
                <div class="img-item">
                    <img src="../static/images/teacher2.jpg">
                    <div class="f-select-con">
                        <i class="f-select iconfont icon-test"></i>
                    </div>
                </div>
                <div class="img-item">
                    <img src="../static/images/teacher2.jpg">
                    <div class="f-select-con">
                        <i class="f-select iconfont icon-test"></i>
                    </div>
                </div>
                <div class="img-item">
                    <img src="../static/images/teacher2.jpg">
                    <div class="f-select-con">
                        <i class="f-select iconfont icon-test"></i>
                    </div>
                </div>
            </div>
            <div class="img-group">
                <div class="img-group-time">
                    2017-07-12 星期三 8:00～8:25
                </div>
            </div>
        </div>
        <div class="g-photo-confirm">
            <a href="#" class="cancel">
                取消
            </a>
            <a href="#" class="confirm">
                完成
            </a>
        </div>
    </div>
    <script type="text/javascript" src="//res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
    <script src="../static/js/imgPrev.js"></script>
    <script src="../static/js/photo_select.js"></script>
    <script>
        var imglist = [
            '../static/images/teacher2.jpg',
            '../static/images/teacher1.jpg'
        ]
        for(var i = 0; i < 7; i++){
            var ran = (imglist[Math.floor(Math.random()*imglist.length)])

            $('.img-con').append('<div class="img-item"><img src="'+ran+'"><div class="f-select-con"><i class="f-select iconfont icon-test"></i></div></div>')
        }
        var config = {
            maxCount : 10,
            setCount : 7
        }
        var photo_select = new photoSelect(config)

        $('.confirm').click(function(){
            console.log(photo_select.selectResult)
        })
    </script>
</body>
</html>