<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>活动规则</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-bd">
            <div class="g-sec m-rule"></div>
            <div class="g-sec m-table background-table">
                <div class="table-rule">
                    <h3>活动一：成功邀请“新用户”，即得千元现金</h3>
                    <p>活动介绍：618活动期间每成功邀请一名“新用户”购买陪练课程，即可获得1000元的现金奖励。仅开放300名额，先到先得；</p>
                    <p>活动时间：6月12日-7月2日</p>
                    <p>参与方式：领取专属二维码，邀请“新用户”扫码购买课程。具体步骤为，关注“熊猫钢琴陪练”官方公众号（微信号：xiongmaopeilian） - 登录- 点击菜单栏“618狂欢” - 点击“现在去邀请” - 保存含二维码图片 - 邀请新用户扫一扫进行购课；</p>
                    <p>活动须知：</p>
                    <ul>
                        <li>1）“新用户”指从未关注“熊猫钢琴陪练”官方微信公众号的好友。</li>
                        <li>2）新用户成功购课后，符合陪练课程要求且60天内无退费。您将获得1000元（含税）现金奖励。</li>
                        <li>3）奖励金将在60天后发放给您。根据国家规定，缴纳相关税费。</li>
                        <li>4）一旦发现任何违规操作，如恶意刷单、虚假购买等行为，将立即取消所有奖金的领取资格。</li>
                    </ul>
                    <h3>活动二：精选课程5折购，618零点准时开抢</h3>
                    <p>活动介绍：618活动期间，精选陪练课程套餐低至5折，6月18日零点准时开抢，全年仅此一次。数量有限，先到先得。</p>
                    <p>活动时间：6月18日-7月2日</p>
                    <p>参与方式：关注“熊猫钢琴陪练”官方公众号（微信号：xiongmaopeilian）- 登录- 点击右下角菜单栏“618狂欢”- 点击购买课程；</p>
                    <p>活动须知：</p>
                    <ul>
                        <li>1）精选5折课程将于6月18日零点正式开抢，7月2日晚24点活动结束。</li>
                        <li>2）如需预约陪练体验课，可点击菜单栏“预约体验”，课管老师将尽快与您联系。</li>
                        <li>3）如7月2日前无法完成体验课，可先行下单，30天内可申请退费。</li>
                        <li>4）若您已上体验课，14天内可申请退费。（退费金额=购课金额—已上课程原价费用×已上课次）。</li>
                    </ul>
                    <h3>熊猫钢琴陪练，考级陪练专家</h3>
                    <p>权威的可视化一对一钢琴陪练平台，专业老师及时辅导纠错，让孩子在家练琴精力集中、事半功倍。</p>
                    <p>如果您……</p>
                    <ul>
                        <li>工作太忙碌，没空陪孩子练琴？</li>
                        <li>孩子不爱练，上课总是挨批评？</li>
                        <li>没学过钢琴，听不出孩子对错？</li>
                    </ul>
                    <p>随时预约熊猫钢琴陪练，省心又省力</p>
                    <ul class="desc">
                        <li>院校名师：全国著名音乐学院老师一对一辅导</li>
                        <li>考级必备：科学制定曲目练习步骤，合理规划练琴时间</li>
                        <li>流畅体验：高清可视化在线，及时纠错和提醒</li>
                        <li>随时预约：24小时随时约，练琴无忧</li>
                    </ul>
                    <p>活动最终解释权归熊猫钢琴陪练所有。</p>
                </div>
            </div>
        </div>
    </body>
</html>