<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>活动规则</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-bd">
            <div class="g-sec m-rule"></div>
            <div class="g-sec m-table background-table">
                <div class="table-rule">
                    <p>1、假如说刚开始觉得“这里是名字”的td设置宽度为20%就可以了，意思就是我不知道该怎么弄好了对吧。</p>
                    <p>2、假如20%就可以了，意思就是我不知道该怎么弄好了对吧。</p>
                    <p>3、假如说刚开始觉得“这里是名啊生命诞生的那首，的那句卡是你大康将阿森纳大卡撒大康拉萨大数据的那时刻记得你知道该怎么弄好了对吧。</p>
                    <p>4、假如说刚开始觉得“这里是名字”的td设置（宽度为20%就）可以了，意思就是我么弄好了对吧。</p>
                    <p>5、假如说刚开始觉得“这里是名字”的td设置宽度为20%就可以了，意思就是我不知道该怎么弄好了对吧。</p>
                    <p>6、假如说刚开始觉得“这里是名字”的td设置宽度为20%就可。不知道该怎么弄好了对吧。</p>
                    <p>7、假如说刚开始觉得“这里是名字”的td设置宽度为2、怎么弄好了对吧。</p>
                    <p>8、假如说刚开始觉得“这里是名字”的td设置宽度为20%就可以了，意思就是我不知道吧。</p>
                    <p>9、假如说刚开始觉得“这里是名字”的td设置宽度为20%就可以了，意思就是洒大地上大康接纳看见你大康集散地该怎么弄好了对吧。</p>
                </div>
            </div>
        </div>
    </body>
</html>