<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/detail_common.css">
        <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
        <link rel="stylesheet" href="//at.alicdn.com/t/font_gsjgxxzci799t3xr.css">
        <title>学生历史课程</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-grey-bd">
            <div class="m-card">
                <h3 class="card-title">
                    45分钟课程
                </h3>
                <div class="card-list">
                    <i class="iconfont icon-icon02 word-primary"></i>&nbsp;&nbsp;2017‐3‐12 周日  14:00 ~ 14:45 （1课时）
                </div>
                <div class="card-list">
                    <i class="iconfont icon-iconfontqupu word-primary"></i>&nbsp;&nbsp;陪练曲谱&nbsp;&nbsp;<i class="iconfont icon-bianji"></i>
                    <div class="card-list-sub">
                        <div class="img-con">
                            <div class="img-item">
                                <img src="../static/images/teacher1.jpg">
                            </div>
                            <div class="img-item">
                                <img src="../static/images/teacher2.jpg">
                            </div>
                            <div class="weui-uploader__input-box img-item" id="uploaderBox">
                                <div id="btn-img" class="weui-uploader__input" type="button" accept="image/*" multiple=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-list">
                    <i class="iconfont icon-beizhu word-primary"></i>&nbsp;&nbsp;备注
                    <div class="card-list-sub">
                        老师说我们演奏太僵硬，不美丽
                    </div>
                </div>
                <div class="card-list">
                    <i class="iconfont icon-laoshi word-primary"></i>&nbsp;&nbsp;张老师
                </div>
            </div>
            <div class="m-card">
                <div class="card-title">
                    老师点评
                </div>
                <div class="card-list">
                   lkdnfjsdfndsfsafasfasdasd
                   akdjnaskjdnaskjndasdfqfqwfqwfasdasd
                   kjdnaskjdnakjsnd
                </div>
            </div>
        </div>
    </body>
</html>