<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
        <link rel="stylesheet" href="../static/css/teacher_class.css">
        <link rel="stylesheet" href="//at.alicdn.com/t/font_gsjgxxzci799t3xr.css">
        <title>课程表</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-bd">
            <div class="g-nav">
                <span class="nav-item" data-title="untreated">待处理</span>
                <span class="nav-item selected-item" data-title="booking">预约中</span>
                <span class="nav-item" data-title="comment">待点评</span>
                <span class="nav-item" data-title="done">已完成</span>
            </div>
            <div class="class-list-container" id="untreated">
                <a href="teacher_detail.html" class="class-list">
                    <p class="list-title">
                        <i class="iconfont icon-icon02 word-primary"></i>&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
                    </p>
                    <p class="list-item">
                        课程名称：日常陪练（30分钟）
                    </p>
                    <p class="list-item">
                        学员名称：孙处理
                    </p>
                </a>
                <a href="teacher_detail.html" class="class-list">
                    <p class="list-title">
                        <i class="iconfont icon-icon02 word-primary"></i>&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
                    </p>
                    <p class="list-item">
                        课程名称：日常陪练（30分钟）
                    </p>
                    <p class="list-item">
                        学员名称：孙处理
                    </p>
                </a>
            </div>
            <div class="class-list-container show-outer" id="booking">
                <div class="class-inner-list">
                    <div class="inner-item selected-inner" data-name="7-12">
                        <span>7月12日<br/>星期三（今）</span>
                    </div>
                    <div class="inner-item" data-name="7-13">
                        <span>7月13日<br/>星期四</span>
                    </div>
                    <div class="inner-item" data-name="7-14">
                        <span>7月14日<br/>星期五</span>
                    </div>
                </div>
                <div class="class-inner-container show-inner" id="7-12">
                    <a href="teacher_detail.html" class="class-list">
                        <p class="list-title">
                            <i class="iconfont icon-icon02 word-primary"></i>&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
                        </p>
                        <p class="list-item">
                            课程名称：日常陪练（30分钟）
                        </p>
                        <p class="list-item">
                            学员名称：孙预约
                        </p>
                    </a>
                </div>
                <div class="class-inner-container" id="7-13">
                    <a href="teacher_detail.html" class="class-list">
                        <p class="list-title">
                            <i class="iconfont icon-icon02 word-primary"></i>&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
                        </p>
                        <p class="list-item">
                            课程名称：日常陪练（30分钟）
                        </p>
                        <p class="list-item">
                            学员名称：孙预约
                        </p>
                    </a>
                    <a href="teacher_detail.html" class="class-list">
                        <p class="list-title">
                            <i class="iconfont icon-icon02 word-primary"></i>&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
                        </p>
                        <p class="list-item">
                            课程名称：日常陪练（30分钟）
                        </p>
                        <p class="list-item">
                            学员名称：孙预约
                        </p>
                    </a>
                </div>
                <div class="class-inner-container" id="7-14">
                    <a href="teacher_detail.html" class="class-list">
                        <p class="list-title">
                            <i class="iconfont icon-icon02 word-primary"></i>&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
                        </p>
                        <p class="list-item">
                            课程名称：日常陪练（30分钟）
                        </p>
                        <p class="list-item">
                            学员名称：孙预约
                        </p>
                    </a>
                    <a href="teacher_detail.html" class="class-list">
                        <p class="list-title">
                            <i class="iconfont icon-icon02 word-primary"></i>&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
                        </p>
                        <p class="list-item">
                            课程名称：日常陪练（30分钟）
                        </p>
                        <p class="list-item">
                            学员名称：孙预约
                        </p>
                    </a>
                    <a href="teacher_detail.html" class="class-list">
                        <p class="list-title">
                            <i class="iconfont icon-icon02 word-primary"></i>&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
                        </p>
                        <p class="list-item">
                            课程名称：日常陪练（30分钟）
                        </p>
                        <p class="list-item">
                            学员名称：孙预约
                        </p>
                    </a>
                </div>
            </div>
            <div class="class-list-container" id="comment">
                <a href="teacher_detail.html" class="class-list">
                    <p class="list-title">
                        <i class="iconfont icon-icon02 word-primary"></i>&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
                    </p>
                    <p class="list-item">
                        课程名称：日常陪练（30分钟）
                    </p>
                    <p class="list-item">
                        学员名称：孙点评
                    </p>
                </a>
                <a href="teacher_detail.html" class="class-list">
                    <p class="list-title">
                        <i class="iconfont icon-icon02 word-primary"></i>&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
                    </p>
                    <p class="list-item">
                        课程名称：日常陪练（30分钟）
                    </p>
                    <p class="list-item">
                        学员名称：孙点评
                    </p>
                </a>
            </div>
            <div class="class-list-container" id="done">
                <a href="teacher_detail.html" class="class-list">
                    <p class="list-title">
                        <i class="iconfont icon-icon02 word-primary"></i>&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
                    </p>
                    <p class="list-item">
                        课程名称：日常陪练（30分钟）
                    </p>
                    <p class="list-item">
                        学员名称：孙完成
                    </p>
                </a>
                <a href="teacher_detail.html" class="class-list">
                    <p class="list-title">
                        <i class="iconfont icon-icon02 word-primary"></i>&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
                    </p>
                    <p class="list-item">
                        课程名称：日常陪练（30分钟）
                    </p>
                    <p class="list-item">
                        学员名称：孙完成
                    </p>
                </a>
            </div>
        </div>
        <script src="../static/js/jQuery.min.js"></script>
        <script type="text/javascript" src="//res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
        <script src="../static/js/teacher_class.js"></script>
    </body>
</html>