<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/detail_common.css">
        <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
        <link rel="stylesheet" href="//at.alicdn.com/t/font_gsjgxxzci799t3xr.css">
        <title>课程详情</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-grey-bd">
            <div class="m-card">
                <h3 class="card-title">
                    45分钟课程
                </h3>
                <div class="card-list">
                    <i class="iconfont icon-icon02 word-primary"></i>&nbsp;&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
                </div>
                <div class="card-list">
                    <i class="iconfont icon-iconfontqupu word-primary"></i>&nbsp;&nbsp;陪练曲谱&nbsp;&nbsp;<i class="iconfont icon-bianji"></i>
                    <div class="card-list-sub">
                        <div class="img-con">
                            <div class="img-item">
                                <img src="../static/images/teacher1.jpg">
                            </div>
                            <div class="img-item">
                                <img src="../static/images/teacher2.jpg">
                            </div>
                            <div class="weui-uploader__input-box img-item" id="uploaderBox">
                                <div id="btn-img" class="weui-uploader__input" type="button" accept="image/*" multiple=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-list">
                    <i class="iconfont icon-beizhu word-primary"></i>&nbsp;&nbsp;备注
                    <div class="card-list-sub">
                        老师说我们演奏太僵硬，不美丽
                    </div>
                </div>
            </div>
            <div class="m-card">
                <div class="card-title">
                    学生资料
                </div>
                <div class="card-list">
                    <div class="card-sub-title">
                        张小小
                    </div>
                    <div class="sub-intro">
                        性别：女
                    </div>
                    <div class="sub-intro">
                        年龄：9岁
                    </div>
                    <div class="sub-intro">
                        级别：中级
                    </div>
                    <div class="sub-intro">
                        历史课程：
                    </div>
                    <div class="sub-intro">
                        <a href="./student_history.html" class="btn btn-simple">
                            12月15日
                        </a>
                        <a href="./student_history.html" class="btn btn-simple">
                            6月15日
                        </a>
                        <a href="./student_history.html" class="btn btn-simple">
                            6月15日
                        </a>
                        <a href="./student_history.html" class="btn btn-simple">
                            6月15日
                        </a>
                        <a href="./student_history.html" class="btn btn-simple">
                            6月15日
                        </a>
                    </div>
                </div>
            </div>
            <div class="m-card">
                <div class="card-title">
                    课程操作
                </div>
                <div class="card-btn-container">
                    <a href="#" class="btn btn-normal bd-primary">接受</a>
                    <a href="#" class="btn btn-normal bd-midgrey">拒绝</a>
                </div>
                <div class="card-list">
                    <div class="sub-intro">
                        提示：
                    </div>
                    <div class="sub-intro">
                        <ul class="card-ul">
                            <li>本月剩余请假次数：1</li>
                            <li>请假须至少提前6小时发起</li>
                            <li><a href="#" class="word-link">了解更多相关规则 ></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-card">
                <div class="card-title">
                    老师点评
                    <div class="title-function-container">
                        <a href="#" class="btn bd-primary">编辑</a>
                    </div>
                </div>
                <div class="card-list">
                    由于微信小程序不支持dom操作，所以weui.js并不适用于小程序。不过WeUI也为小程序开发了另外的版本，详情请看。如果你有好的意见或建议，欢迎给我们提issue或pull request。
                </div>
            </div>
            <div class="m-card">
                <div class="card-title">
                    学生评价
                    <div class="title-function-container">
                        <i class="iconfont icon-icon word-lightyellow"></i><i class="iconfont icon-icon word-lightyellow"></i><i class="iconfont icon-icon word-lightyellow"></i><i class="iconfont icon-icon word-lightyellow"></i><i class="iconfont icon-icon"></i>
                    </div>
                </div>
                <div class="card-list">
                    由于微信小程序不支持dom操作，所以weui.js并不适用于小程序。不过WeUI也为小程序开发了另外的版本，详情请看。如果你有好的意见或建议，欢迎给我们提issue或pull request。
                </div>
            </div>
        </div>
    </body>
</html>