.folt-container{
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 10px;
}
.folt-container h1{
  text-align: center;
  font-size: 30px;
}
.game-container{
  position: relative;
  background: #fff;
  margin: 25px auto 0;
}
.block{
  position: absolute;
}
.checked{
  background-color: #f00;
}
.anim{
  animation:round 1s linear;
  -webkit-animation:round 1s linear;
}
@keyframes round{
    from{
        -webkit-transform:rotate(0deg);
		transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
		transform:rotate(360deg);
    }
}
.transR{
  -webkit-transform-origin:right center;
  transform-origin:right center;
  animation:transR .4s linear;
  -webkit-animation:transR .4s linear;
}
@keyframes transR{
  from{
    -webkit-transform:rotateY(0deg);
    transform:rotateY(0deg);
  }
  to{
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
  }
}
