.g-bd {
  background-color: #fff;
}
.g-grey-bd {
  background-color: #f4f4f7;
  padding-bottom: 1px;
  height: 100%;
}
.btn {
  display: inline-block;
  outline: none;
  border: none;
  text-align: center;
  padding: 0 .28rem;
  font-size: .28rem;
  -webkit-appearance: none;
}
.btn-primary {
  color: #fff;
  background-color: #02c9aa;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}
.m-form {
  padding: 0 .3rem;
}
.m-form .input-con {
  margin-bottom: .4rem;
  line-height: 1;
}
.m-form .input-con input,
.m-form .input-con button {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  outline: none;
  height: .9rem;
  padding: 0 .27rem;
  font-size: .28rem;
  -webkit-appearance: none;
}
.m-form .input-con input {
  border: 0.02rem solid #c0c0c0;
}
.m-form .f-inline {
  vertical-align: top;
  *zoom: 1;
}
.m-form .f-inline:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}
.m-form .f-inline > div {
  float: left;
}
.g-login-banner {
  width: 100%;
  height: 3.46rem;
  background: url(../images/banner1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.g-sec {
  padding-top: .2rem;
}
.g-sec .m-form {
  width: 6rem;
  margin: 0 auto;
  padding: .6rem 0 0 0;
}
.g-sec .m-form .f-inline .vcode {
  width: 4rem;
}
.g-sec .m-form .f-inline .vcode-btn {
  width: 2rem;
}
.g-sec .m-form .f-inline .vcode-btn button {
  background-color: #fff;
  border: 0.02rem solid #c0c0c0;
  border-left: none;
}
.g-sec .m-form .btn-primary {
  font-size: 0.36rem;
}
