.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}
/*********** bd ***********/
.g-bd {
  background-color: #fff;
  min-height: 100%;
}
.g-grey-bd {
  background-color: #f4f4f7;
  padding-bottom: 1px;
  min-height: 100%;
}
/*********** colors ***********/
.word-primary {
  color: #02c9aa;
}
.word-primary:hover {
  color: #02c9aa;
}
.word-lightyellow {
  color: #fbab29;
}
.word-lightyellow:hover {
  color: #fbab29;
}
.word-link {
  color: #43adff;
}
.word-link:hover {
  color: #43adff;
}
.bd-primary {
  background-color: #02c9aa;
}
.bd-darkgreen {
  background-color: #0ea984;
}
.bd-lightgreen {
  background-color: #3dc4a4;
}
.bd-darkgrey {
  background-color: #999;
}
.bd-lightgrey {
  background-color: #ccc;
}
.bd-midgrey {
  background-color: #aaa;
}
/*********** btn ***********/
.btn {
  display: inline-block;
  outline: none;
  border: none;
  text-align: center;
  padding: .12rem .28rem;
  font-size: .28rem;
  -webkit-appearance: none;
}
.btn-primary {
  color: #fff;
  background-color: #02c9aa;
}
.btn-simple {
  border: 1px solid #c0c0c0;
  padding: .12rem .28rem;
  color: #666;
}
.btn-normal {
  border-radius: .08rem;
  color: #fff;
}
/*********** card ***********/
.m-card {
  background-color: #fff;
  margin-bottom: .2rem;
  padding: 0 .4rem 1px;
  box-shadow: 0 0 .07rem #ddd;
}
.m-card .card-title {
  padding: .35rem 0;
  font-size: .34rem;
  font-weight: 500;
}
.m-card .card-title .title-function-container {
  float: right;
}
.m-card .card-title .title-function-container i {
  font-size: .32rem;
}
.m-card .card-title .title-function-container .btn {
  color: #fff;
}
.m-card .card-list {
  font-size: .3rem;
  margin-bottom: .2rem;
  color: #666;
}
.m-card .card-list i {
  font-size: .3rem;
}
.m-card .card-list .card-list-sub {
  padding-left: .5rem;
  padding-top: .1rem;
}
.m-card .card-list .card-sub-title {
  font-size: .32rem;
  color: #000;
  padding-bottom: .1rem;
}
.m-card .card-list .sub-intro {
  font-size: .3rem;
}
.m-card .card-ul {
  padding-left: .36rem;
}
.m-card .card-ul li {
  list-style: disc;
}
.m-card .card-btn-container {
  text-align: center;
  margin-bottom: .2rem;
}
/*********** img-con ***********/
.img-con {
  *zoom: 1;
}
.img-con:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}
.img-con .img-item {
  position: relative;
  float: left;
  width: 1.65rem;
  height: 1.65rem;
  overflow: hidden;
  margin-right: .3rem;
  margin-bottom: .26rem;
}
.img-con .img-item .up-delete {
  font-family: tahoma, arial, 'Microsoft Yahei', sans-serif;
  font-size: .28rem;
  display: block;
  text-align: center;
  height: .40rem;
  width: .40rem;
  line-height: .40rem;
  background-color: #000;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  border-radius: 50%;
}
.notice-banner {
  width: 100%;
  background-image: url(../images/notice_banner.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 2.36rem;
}
.notice-card {
  background-color: #fff;
  width: 6.5rem;
  margin: 0 auto;
  min-height: 5rem;
  padding-top: .7rem;
  padding-bottom: .3rem;
  position: relative;
  top: -0.6rem;
  border-radius: .2rem;
  box-shadow: 0 0.13rem 0.5rem #ccc;
}
.notice-footer {
  position: relative;
  width: 5.8rem;
  margin: .7rem auto .2rem;
}
.notice-footer .notice-qr {
  position: relative;
  left: -0.05rem;
  top: -0.05rem;
  z-index: 99;
  border: 1px solid #000;
  padding: .2rem;
  background-color: #02c9aa;
  color: #fff;
}
.notice-footer .notice-qr .qr-intro {
  display: inline-block;
  width: 3.7rem;
  font-size: .28rem;
}
.notice-footer .notice-qr .qr-intro .intro-title {
  font-size: .31rem;
  font-weight: 500;
  margin-bottom: .1rem;
}
.notice-footer .notice-qr .qr-code {
  vertical-align: top;
  display: inline-block;
  width: 1.56rem;
  border: 1px solid #000;
  border-radius: .2rem;
  background-color: #fff;
}
.notice-footer .notice-qr .qr-code img {
  border-radius: inherit;
}
.notice-footer .notice-qr-shadow {
  position: absolute;
  border: 1px solid #000;
  left: .1rem;
  top: .1rem;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.notice-icon {
  text-align: center;
  margin-bottom: .2rem;
}
.notice-icon img {
  width: 1.9rem;
}
.notice-notice {
  text-align: center;
  font-size: .36rem;
  font-weight: 500;
  color: #0ea984;
  margin-bottom: .2rem;
}
.notice-intro {
  text-align: center;
}
.notice-btn {
  border: 1px solid #000;
  color: #fff;
  border-radius: .3rem;
  font-weight: 500;
  font-size: .30rem;
  background-image: linear-gradient(170deg, #00f3ab, #00d2ed);
  padding: .14rem .4rem;
  box-shadow: 0.04rem 0.06rem 0 #c6c6c6;
}
.notice-btn:hover {
  color: #fff;
}
.notice-hr {
  width: 83%;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #e0e0e0;
  margin: .4rem auto;
}
.notice-says {
  vertical-align: middle;
  width: 4.7rem;
  margin: 0 auto;
  text-align: center;
}
.notice-says .says-words {
  display: inline-block;
  width: 3.8rem;
  font-size: .28rem;
}
.notice-says span {
  display: inline-block;
  font-size: .9rem;
  color: #ccc;
  font-weight: bold;
}
.notice-says .xiayinhao {
  transform: rotate(180deg) translateY(-0.15rem);
  -webkit-transform: rotate(180deg) translateY(-0.15rem);
}
