/*reset*/
html {
  height: 100%;
  font-family: -apple-system-font, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  word-break: break-word;
  height: 100%;
}
a {
  text-decoration: none;
  color: #000;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
a,
a:hover {
  color: #000;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  vertical-align: middle;
  width: 100%;
}
pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: .1em;
}
i {
  color: #bbb;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input:focus {
  outline: none;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="password"] {
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  resize: none;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0;
  font-weight: normal;
}
ul,
ol,
li,
dl,
dd,
option {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none outside none;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #aaa;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaa;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.img-prev-con {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  z-index: 999;
  cursor: pointer;
}
.img-prev-con .img-prev {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: center center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  z-index: 1000;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
html {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}
@-webkit-keyframes round {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.k-alert {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}
.k-alert .alert-container {
  background-color: #fff;
  text-align: justify;
  min-width: 265px;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.k-alert .alert-container .title {
  text-align: center;
  color: #000;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 0 10px 0;
  font-size: 18px;
  display: none;
}
.k-alert .alert-container .content {
  text-align: center;
  color: #666;
  padding: 20px 0;
}
.k-alert .alert-container .confirm {
  background-color: #5e80e0;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  padding: .1rem 0;
  -webkit-border-radius: .1rem;
          border-radius: .1rem;
}
.index-bd {
  background-image: url(../images/tiny_test/bg_1.jpg);
}
.question-bd {
  background-image: url(../images/tiny_test/bg_2.jpg);
  padding-top: 1.9rem;
}
.result-bd {
  background-image: url(../images/tiny_test/bg_3.jpg);
  padding-top: 1.9rem;
}
.g-bd {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  min-height: 100%;
}
.g-bd .loading {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
}
.g-bd .loading .circle {
  height: 50px;
  width: 50px;
  border-left: 4px solid #111;
  border-top: 4px solid rgba(0, 0, 0, 0.3);
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  border-right: 4px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 4.5rem auto 0;
  animation: round 1s infinite linear;
  -webkit-animation: round 1s infinite linear;
}
.g-bd .show {
  -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
          transform: scale(1) !important;
}
.g-bd .index-container {
  -ms-transform: scale(0);
      transform: scale(0);
  -webkit-transform: scale(0);
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  text-align: center;
}
.g-bd .index-container .title {
  display: inline-block;
  width: 90%;
  margin-top: 2.6rem;
}
.g-bd .index-container .sub-title {
  display: inline-block;
  width: 38%;
  margin-top: 0.8rem;
}
.g-bd .index-container .input-con {
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  width: 4.6rem;
  height: 1.1rem;
  padding-top: .3rem;
}
.g-bd .index-container .input-con input {
  border: none;
  width: 100%;
  padding: .15rem 0;
  text-align: center;
  font-size: .32rem;
  background: transparent;
}
.g-bd .index-container .btn-input {
  background-image: url(../images/tiny_test/btn_input.png);
  margin: 1rem auto 0;
}
.g-bd .index-container .btn-start {
  display: block;
  background-image: url(../images/tiny_test/btn_start.png);
  margin: .1rem auto 0;
}
.g-bd .question-container {
  background-image: url(../images/tiny_test/bg_board.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 5.9rem;
  height: 8.82rem;
  margin: 0 auto;
  text-align: center;
}
.g-bd .question-container .question-index {
  color: #f1659a;
  font-size: .42rem;
  text-align: center;
  padding-top: .255rem;
}
.g-bd .question-container .question-title {
  color: #333333;
  font-size: .36rem;
  display: inline-block;
  max-width: 3.5rem;
  padding-top: .35rem;
  line-height: 1.5;
}
.g-bd .question-container .question-items {
  padding-top: .2rem;
}
.g-bd .question-container .question-items > img {
  max-height: 1.7rem;
  width: auto;
}
.g-bd .question-container .question-items .music-item img {
  height: .9rem;
  width: auto;
}
.g-bd .question-container .question-items .music-item .roll {
  animation: round 2s infinite linear;
  -webkit-animation: round 2s infinite linear;
}
.g-bd .question-container .question-items .music-item .music-tip {
  font-size: .26rem;
  font-weight: 500;
}
.g-bd .question-container .question-answers {
  -ms-transform: scale(0);
      transform: scale(0);
  -webkit-transform: scale(0);
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.g-bd .question-container .question-answers .answer {
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-image: url(../images/tiny_test/btn_ans.png);
  background-position: center;
  height: .66rem;
  line-height: .66rem;
  margin-top: .33rem;
}
.g-bd .question-container .question-answers .checked {
  background-image: url(../images/tiny_test/btn_ans_check.png);
}
.g-bd .question-container .question-next {
  display: block;
  background-image: url(../images/tiny_test/btn_ok.png);
  margin: .35rem auto 0;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  height: .66rem;
  background-position: center;
}
.g-bd .result-container .result-score {
  text-align: center;
}
.g-bd .result-container .result-score .score-name {
  font-size: .55rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 4px #000;
  letter-spacing: 1px;
}
.g-bd .result-container .result-score .score-word img {
  width: 3.2rem;
  height: auto;
}
.g-bd .result-container .result-score .score-img {
  margin-top: .8rem;
}
.g-bd .result-container .result-score .score-img img {
  display: inline-block;
  margin-right: -0.25rem;
  height: .95rem;
  width: auto;
}
.g-bd .result-container .result-score .score-defeat {
  font-size: .3rem;
  margin-top: .2rem;
}
.g-bd .result-container .result-score .score-defeat span {
  font-size: .35rem;
  color: #fff;
}
.g-bd .result-container .result-board {
  width: 5.33rem;
  height: 3.03rem;
  margin: .2rem auto 0;
  background-image: url(../images/tiny_test/bg_talent.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  padding-top: .6rem;
  padding-right: .28rem;
}
.g-bd .result-container .result-board .levels {
  width: 100%;
  text-align: right;
  margin-bottom: .27rem;
}
.g-bd .result-container .result-board .levels .level {
  display: inline-block;
  margin-right: .1rem;
  font-size: .26rem;
  color: #fff;
  background-color: #f7d252;
  -webkit-border-radius: .2rem;
          border-radius: .2rem;
  padding: 0 .13rem;
}
.g-bd .result-container .result-board .levels .level:last-child {
  margin-right: 0;
}
.g-bd .result-container .result-board .levels .current {
  background-color: #ff7cae;
}
.g-bd .result-container .btn-get {
  display: block;
  background-image: url(../images/tiny_test/btn_get.png);
  margin: .5rem auto 0;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  width: 4.6rem;
  height: 1.1rem;
  position: relative;
  padding-bottom: .6rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.g-bd .result-container .btn-get:after {
  content: '';
  display: block;
  background-image: url(../images/tiny_test/word_share.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  height: 0.44rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}
