<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/notice_common.css">
        <title>填写老师点评</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-grey-bd">
            <div class="textarea-container">
               <textarea id="info" placeholder="为本次课老师写几句评价吧"></textarea>
           </div>
           <div class="notice-btn-container">
               <button class="btn">确定</button>
           </div>
        </div>
    </body>
</html>