<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/weixin.css">
        <title>优秀作品</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = document.documentElement.offsetWidth / 7.5 + 'px';
            window.onresize = function(e){
                document.documentElement.style.fontSize = document.documentElement.offsetWidth / 7.5 + 'px';
            }
        </script>
        <div class="g-bd g-master-container">
            <div class="g-banner"></div>
            <article class="g-article g-master">
                <div class="art-title master-title">
                   狗狗爱好者
                </div>
                <div class="art-main">
                    <video id="my-video" class="video-js" controls preload="auto"
                       data-setup="{}">
                        <source src="http://p3z2zozjx.bkt.clouddn.com/masterpiece/%E8%BF%B7%E5%AE%AB.mp4" type='video/mp4'>
                        <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                    <div class="article-intro">
                        <div class="title">
                            作品简介：
                        </div>
                        <div class="content">
                            时间会把时间会比较第八十九回本大家哈舍不得回家啊十八大加拿大籍时刻你打开加拿大
                        </div>
                    </div>
                    <div class="comment master-comment">
                        <div class="comment-intro">
                            杰森点评：
                        </div>
                        <div class="comment-item">
                            <div class="avatar">
                                <img src="../images/teacher_small.png">
                            </div>
                            <div class="comment-main">
                                时间会把时间会比较第八十九回本大家哈舍不得回家啊十八大加拿大籍时刻你打开加拿大
                                <div class="angle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="g-article g-master">
                <div class="art-title master-title">
                   狗狗爱好者
                </div>
                <div class="art-main">
                    <video id="my-video" class="video-js" controls preload="auto"
                       data-setup="{}">
                        <source src="http://p3z2zozjx.bkt.clouddn.com/masterpiece/%E8%BF%B7%E5%AE%AB.mp4" type='video/mp4'>
                        <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                    <div class="article-intro">
                        <div class="title">
                            作品简介：
                        </div>
                        <div class="content">
                            时间会把时间会比较第八十九回本大家哈舍不得回家啊十八大加拿大籍时刻你打开加拿大
                        </div>
                    </div>
                    <div class="comment master-comment">
                        <div class="comment-intro">
                            杰森点评：
                        </div>
                        <div class="comment-item">
                            <div class="avatar">
                                <img src="../images/teacher_small.png">
                            </div>
                            <div class="comment-main">
                                时间会把时间会比较第八十九回本大家哈舍不得回家啊十八大加拿大籍时刻你打开加拿大
                                <div class="angle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="g-article g-master">
                <div class="art-title master-title">
                   狗狗爱好者
                </div>
                <div class="art-main">
                    <video id="my-video" class="video-js" controls preload="auto"
                       data-setup="{}">
                        <source src="http://p3z2zozjx.bkt.clouddn.com/masterpiece/%E8%BF%B7%E5%AE%AB.mp4" type='video/mp4'>
                        <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                    <div class="article-intro">
                        <div class="title">
                            作品简介：
                        </div>
                        <div class="content">
                            时间会把时间会比较第八十九回本大家哈舍不得回家啊十八大加拿大籍时刻你打开加拿大
                        </div>
                    </div>
                    <div class="comment master-comment">
                        <div class="comment-intro">
                            杰森点评：
                        </div>
                        <div class="comment-item">
                            <div class="avatar">
                                <img src="../images/teacher_small.png">
                            </div>
                            <div class="comment-main">
                                时间会把时间会比较第八十九回本大家哈舍不得回家啊十八大加拿大籍时刻你打开加拿大
                                <div class="angle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </body>
    <script src="../node_modules/vconsole/dist/vconsole.min.js"></script>
    <script>
        var con = new VConsole()
    </script>
</html>