<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/notice_common.css">
        <title>熊猫钢琴陪练</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-grey-bd">
            <div class="notice-banner"></div>
            <div class="notice-card">
                <div class="notice-icon">
                    <img src="../static/images/ok.png">
                </div>
                <div class="notice-notice">
                    注册成功
                </div>
                <div class="notice-intro">
                    申请已提交，请保持手机畅通<br/>
                    课程老师会尽快与您联系
                </div>
                <hr class="notice-hr">
                <div class="notice-says">
                    <span class="shangyinhao">“</span><p class="says-words">扫码关注公众号<br/>自助预约练琴时间</p><span class="xiayinhao">“</span>
                </div>
                <div class="notice-footer">
                    <div class="notice-qr">
                        <div class="qr-intro">
                            <div class="intro-title">
                                — 长按扫码,欢迎咨询 —
                            </div>
                            <div class="intro-phone">
                                咨询电话：010-59453732
                            </div>
                            <div class="intro-time">
                                咨询时间：10: 00-21: 00
                            </div>
                        </div>
                        <div class="qr-code">
                            <img src="../static/images/qr3.jpg" alt="二维码">
                        </div>
                    </div>
                    <div class="notice-qr-shadow"></div>
                </div>
            </div>
        </div>
    </body>
</html>