<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="//at.alicdn.com/t/font_gsjgxxzci799t3xr.css">
        <title>The ONE在线钢琴陪练</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="grey-bd">
            <div class="m-card">
                <h3 class="card-title">
                    45分钟课程
                </h3>
                <div class="card-list">
                    
                </div>
                <div class="card-list">
                    
                </div>
                <div class="card-list">
                    
                </div>
                <div class="card-list">
                    
                </div>
            </div>
        </div>
    </body>
</html>