html,body,*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 16px;
}
.dblue{
	background-color: #1874CD;
}
.loringe{
	background-color: #FFC125;
}
.dred{
	background-color: #CD2626;
}

.one{
	background-color: #7B68EE;
}
.cr2{
	background-color: #FFD700;
}
.cr3{
	background-color: #FFA500;
}
.cr4{
	background-color: #FF3E96;
}
.cr5{
	background-color: #CD4F39;
}
.all2{
	background-color: #76EE00;
}
.all3{
	background-color: #48D1CC;
}
.tr2{
	background-color: #3CB371;
}
.tr3{
	background-color: #00B2EE;
}
.grey{
	color: #f2f2f2;
	background-color: #f2f2f2;
}