.g-hd{
	margin: 15px 0;
}
.g-hd h1{
	text-align: center;
	font-size: 4rem;
	font-family: Monaco, Consolas, 'Courier New';
	letter-spacing: 8px;
}
.g-bd{
	width: 500px;
	margin: 0 auto;
	position: relative;
}
.gameContainer{
	width: 500px;
	height: 500px;
	position: relative;
}
.block{
	width: 47px;
	height: 47px;
	border-radius: 5px;
	position: absolute;
}
.sblock{
	width: 28px;
	height: 28px;
	border-radius: 3px;
	position: absolute;
}
.newBlocks{
	height: 180px;
	margin-top: 30px;
}
.newb{
	width: 150px;
	display: inline-block;
	margin: 74px 6px;
	position: relative;
}
.newbcon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}
#drag{
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	cursor: move;
}


