*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
}
/* spinner */
.spinner{
    height: 100px;
    width: 100px;
    background-color: #218ac3;
    border-radius: 50%;
    margin: 50px auto;
    animation:fade 1s infinite ease-in-out;
	  -webkit-animation:fade 1s infinite ease-in-out;
}
@keyframes fade{
    from{
        transform:scale(0);
		-webkit-transform:scale(0);
    }
    to{
        transform:scale(1.0);
		-webkit-transform:scale(1.0);
        opacity: 0;
    }
}
/* circle loading */
.circle{
    height: 100px;
    width: 100px;
    border-left: 5px solid #fff;
    border-radius: 50%;
    margin: 50px auto;
    animation:round 1s infinite linear;
	-webkit-animation:round 1s infinite linear;
}
.circle2{
    height: 100px;
    width: 100px;
    border-left: 6px solid #fff;
    border-top:6px solid #555;
    border-bottom:6px solid #555;
    border-right:6px solid #555;
    border-radius: 50%;
    margin: 50px auto;
    animation:round 1s infinite linear;
	-webkit-animation:round 1s infinite linear;
}
@keyframes round{
    from{
        -webkit-transform:rotate(0deg);
		transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
		transform:rotate(360deg);
    }
}
/* line */
.line{
    padding-top: 20px;
    height: 100px;
    width: 100px;
    margin: 50px auto;
    text-align: center;
    letter-spacing: 2px;
}
.line>div{
    display: inline-block;
    height: 30px;
    width: 4px;
    background-color: #fff;
    animation:linea 1s infinite ease-in-out;
	-webkit-animation:linea 1s infinite ease-in-out;
}
.line2{
    -webkit-animation-delay:-0.9s !important;
    animation-delay:-0.9s !important;
}
.line3{
    -webkit-animation-delay:-0.8s !important;
    animation-delay:-0.8s !important;
}
.line4{
    -webkit-animation-delay:-0.7s !important;
    animation-delay:-0.7s !important;
}
.line5{
    -webkit-animation-delay:-0.6s !important;
    animation-delay:-0.6s !important;
}
@keyframes linea{
    0%,40%,100%{
        -webkit-transform:scaleY(0.3);
		transform:scaleY(0.3);
    }
    20%{
        -webkit-transform:scaleY(1);
		transform:scaleY(1);
    }
}
/* rect */
.rect{
    width: 340px;
    height: 240px;
    margin: 50px auto 100px;
    background-color: #ffffff;
	-webkit-transform-origin:left center;
    transform-origin:left center;
    -webkit-transition:transform 1s ease-out;
	transition:transform 1s ease-out;
    position: relative;
    -webkit-perspective:200px;
    perspective:200px;
}
/*.rect:after{
    content: '';
    width: 340px;
    height: 240px;
    background-color: #222;
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
    opacity: 0;
    transition:opacity 1s ease-out;
}*/
.rect>img{
    width: 340px;
    height: 240px;
}
.rect:hover{
    -webkit-transform:rotateY(-90deg);
	transform:rotateY(-90deg);
}
.rect:hover:after{
    opacity: 1;
}
/* light box */
.cont{
    width: 1024px;
    height: 768px;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
}
.imgcont{
    width: 5120px;
    height: 768px;
    position: absolute;
    z-index: 1;
    left: 0;
    letter-spacing: 0;
    transition:all 1s ease-in-out;
}
.imgcont>img{
    float: left;
}
.btn{
    position: absolute;
    z-index: 2;
    bottom:80px;
    width: 100%;
}
.btn>a{
    cursor: pointer;
    position: absolute;
    color:#fff;
    font-weight: bold;
}
.btn>a:first-child{
    left: 50px;
}
.btn>a:last-child{
    right: 50px;
}
/* picture */
.picture{
    width: 450px;
    height:500px;
    position: relative;
    margin: 20px auto;
}
.picture>img{
    width:450px;
    border: 10px solid #fff;
    position: absolute;
    -webkit-transform-origin:center 600px;
	transform-origin:center 600px;
    -webkit-transition:transform 0.5s ease-in-out;
	transition:transform 0.5s ease-in-out;
    box-shadow: 1px 1px 4px #333;
    margin-bottom: 400px;
}
.picture>img:nth-child(1){
    -webkit-transform:rotate(14deg);
	transform:rotate(14deg);
}
.picture>img:nth-child(2){
    -webkit-transform:rotate(7deg);
	transform:rotate(7deg);
}
.picture>img:nth-child(4){
    -webkit-transform:rotate(-7deg);
	transform:rotate(-7deg);
}
.picture>img:nth-child(5){
    -webkit-transform:rotate(-14deg);
	transform:rotate(-14deg);
}
.picture:hover img:nth-child(1){
    -webkit-transform:rotate(34deg);
	transform:rotate(34deg);
}
.picture:hover img:nth-child(2){
    -webkit-transform:rotate(19deg);
	transform:rotate(19deg);
}
.picture:hover img:nth-child(4){
    -webkit-transform:rotate(-19deg);
	transform:rotate(-19deg);
}
.picture:hover img:nth-child(5){
    -webkit-transform:rotate(-34deg);
	transform:rotate(-34deg);
}
.piccont{
    width: 470px;
    height:600px;
    position: relative;
    margin: 20px auto;
    padding-top:100px;
    overflow: hidden;
}
.picture2{
    -webkit-transform-origin:center 1200px;
    transform-origin:center 1200px;
    transition:transform 1s;
}
.picture2>img{
    width:450px;
    border: 10px solid #fff;
    position: absolute;
    -webkit-transform-origin:center 1200px;
    transform-origin:center 1200px;
    -webkit-transition:transform 0.5s ease-in-out;
    transition:transform 0.5s ease-in-out;
    box-shadow: 1px 1px 4px #333;
    margin-bottom: 400px;
}
.picture2>img:nth-child(2){
    -webkit-transform:rotate(35deg);
}
.picture2>img:nth-child(3){
    -webkit-transform:rotate(70deg);
}
.picture2>img:nth-child(4){
    -webkit-transform:rotate(105deg);
}
.picture2>img:nth-child(5){
    -webkit-transform:rotate(140deg);
}
.piccont:hover .picture2{
    transform:rotate(-35deg);
    -webkit-transform:rotate(-35deg);
}
